<nav class="navbar">
    <div class="brand" routerLink="/">DPP</div>

    <div class="links">

        <!-- Not Logged In -->
        <ng-container *ngIf="!(isLoggedIn$ | async)">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </ng-container>

        <!-- Logged In -->
        <ng-container *ngIf="isLoggedIn$ | async">
            <a routerLink="/notes">Notes</a>
            <a (click)="logout()">Logout</a>
        </ng-container>

    </div>
</nav>